@page "/allevents"
@rendermode InteractiveServer

<PageTitle>I am as old as...</PageTitle>

<h1>I am as old as..</h1>

<div class="events">

</div>

@code {
    [SupplyParameterFromForm]
    public List<DataModel.WikiEvent>? Events { get; set; }

    protected override async Task OnInitializedAsync()
    {
    }
}
